@import url('https://fonts.googleapis.com/css?family=Pacifico|Sorts+Mill+Goudy|Lora');

.Canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;

}

.background {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #5f97ef, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #5f97ef, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #5f97ef, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #18FFFF, white); /* Standard syntax */
}


.AppHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  font-size: 45pt;
  color: white;
}

.lowerHeader {
  padding-left: 70%;
  font-size: 8pt;
}

.TextField {
  margin-left:5px;
  margin-right:5px;
}

.SearchButton {
  margin-left: 10px;
}

.DialogueBox {
  height: 70%;
  width: 70%;
  background: #eaecef;
  overflow-y: auto;
  padding-top: 20px;
}

.ChatBubbleHolder {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.flex-right {
  justify-content: flex-end;
}

.flex-left {
  justify-content: flex-start;
}

.ChatBubble {
  width: 40%;
  font-size: 20px;
  text-align: left;
  font-family: 'Lora', serif;
  padding:10px 10px 10px 10px;
}

.user {
  background-color: #e8ebef;
  border-radius: 20px 0 20px 20px;
}

.bot {
  background-color: #52dcf2;
  color: white;
  border-radius: 20px 20px 20px 0;
}



.Pacifico {
  font-family: Pacifico,cursive;
}

.Sorts-Mill-Goudy{
  font-family: 'Sorts Mill Goudy', serif;
}

.Lora {
  font-family: 'Lora', serif;
}
